body {
    font-family: sans-serif;
    font-size: 14px;
}

.toggle {
    padding: 8px;
    width: 35%;
    margin: 2px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
}

#togglePos {
    border-color: #FEDC09;
}

#toggleTrans {
    border-color: #66CCFF;
}

.translate {
    transform: translateX(100px);
}

.container {
    width: 100%;
    margin: 10px;
    overflow: auto;
}

.box {
    margin-top: 10px;
    height: 50px;
    width: 120px;
    background-color: grey;
    position: absolute;
    left: 0px;
    transition: left .2s ease-in-out, transform .2s ease-in-out;
    -webkit-transition: left .2s ease-in-out, transform .2s ease-in-out;
}

#boxTrans {
    margin-top: 40px;
    background-color: #66CCFF;
}

#boxPos {
    margin-top: 120px;
    background-color: #FEDC09;
}